/* Start Variables */
:root {
  --bg-c-blue: #0d40c6;
  --bg-c-blue-opacity: #1652F0;
  --bg-c-white: #fff;
  --bg-c-li-input: #eef2fe;
  --c-li-text: #869ab8;
  --c-label-text: #4A4F5C;
  --c-span-red: #FF788E;
  --element-height: 2.6875rem;
}

/* End Variables */
/* Start Global Rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}



.wrapper {
  margin-top: 5rem;
  margin-left: 3.75rem;
  width: calc(100% - 3.75rem);
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

/* End Global Rules */
/* == header == */
header {
  width: calc(100% - 3.75rem);
  height: 5.125rem;
  padding-left: 3.75rem;
  padding-right: .9375rem;
  color: var(--c-li-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--bg-c-li-input) 1px solid;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

header .logo {
  width: fit-content;
  height: 35%;
}

header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.25rem;
}



header .account .mony {
  width: 13.75rem;
  height: 2rem;
  display: flex;
  text-align: center;
  line-height: 2rem;
}

header .account .mony span {
  width: 50%;
  height: 100%;
  display: block;
  color: var(--c-li-text);
  font-size: 1rem;
  word-spacing: .375rem;
  white-space: nowrap;
  border: var(--bg-c-li-input) .125rem solid;
  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  cursor: default;
}

header .account .mony span.active {
  background-color: var(--bg-c-li-input);
  color: var(--bg-c-blue);
  border-radius: 1.875rem 0 0 1.875rem;
  -webkit-border-radius: 1.875rem 0 0 1.875rem;
  -moz-border-radius: 1.875rem 0 0 1.875rem;
  -ms-border-radius: 1.875rem 0 0 1.875rem;
  -o-border-radius: 1.875rem 0 0 1.875rem;
  border-right: none;
}

header .account .mony span:not(span.active) {
  border-left: none;
  border-radius: 0 1.875rem 1.875rem 0;
  -webkit-border-radius: 0 1.875rem 1.875rem 0;
  -moz-border-radius: 0 1.875rem 1.875rem 0;
  -ms-border-radius: 0 1.875rem 1.875rem 0;
  -o-border-radius: 0 1.875rem 1.875rem 0;
}

header .account .mony span:hover {
  background-color: var(--bg-c-blue);
  color: var(--bg-c-white);
}

header .account .mony span:hover+span:not(span:hover) {
  background-color: var(--bg-c-li-input);
}

header .account .profile {
  width: fit-content;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .account .profile .name {
  margin-inline: 1rem;
  font-size: .875rem;
}

header .account .profile i:first-of-type {
  background-color: var(--bg-c-blue);
  color: var(--bg-c-white);
  font-size: .875rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 61.9375rem) {
  header .account .profile .name {
    display: none;
  }

  header .account .profile i:first-of-type {
    margin-right: .625rem;
  }
}

@media (max-width: 34rem) {
  html {
    font-size: 13px;
  }

  header .account .mony {
    display: none;
  }
}

/* == aside == */
aside {
  width: 3.75rem;
  height: 100%;
  background-color: var(--bg-c-blue);
  color: var(--bg-c-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  position: fixed;
  top: 0;
  left: 0;
}

aside nav li {
  width: 2.8rem;
  height: 2.8rem;
  margin-bottom: .3125rem;
  text-align: center;
  line-height: 2.8rem;
  font-size: .875rem;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
}

aside nav li.active,
aside nav li:hover {
  background-color: var(--bg-c-blue-opacity);
}

/* == main == */
main {
  margin-left: 3.75rem;
  margin-right: 2.5rem;
}

main .title-page {
  height: 3.75rem;
  width: 100%;
  text-align: left;
  line-height: 3.75rem;
}

main .title-page h3 {
  color: var(--bg-c-blue);
  font-size: 1rem;
  font-weight: 700;
}

main .title-page h3 span {
  color: var(--c-li-text);
  margin-left: .3125rem;
}

main>.parent {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4.625rem;
}

main .parent .col-buy-sell {
  flex: 1.5;
}

main .parent .col-info {
  flex: 2.3;

}

@media (max-width: 991px) {
  main>.parent {
    flex-direction: column;
  }

  main>.parent>div {
    width: 100%;
  }
}

main .parent .col-buy-sell .order {
  width: calc(100% - 2.5rem);
  height: var(--element-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.625rem;
  margin: 0 1.25rem 1.25rem;

}

main .parent .col-buy-sell .order button {
  color: var(--bg-c-blue);
  background: var(--bg-c-white);
  border: 2px solid var(--bg-c-li-input);
  outline: none;
  width: 50%;
  height: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  cursor: pointer;
}

main .parent .col-buy-sell .order button.active {
  background-color: var(--bg-c-blue);
  color: var(--bg-c-white);
}

main .parent .col-buy-sell .order button:not(button.active):hover {
  background-color: var(--bg-c-li-input);
}

main .parent .col-buy-sell form.buy-sell li {
  margin-bottom: 1.25rem;
}

/* === form === */
label {
  margin-bottom: .9375rem;
  margin-top: 1.875rem;
  display: block;
  font-size: .875rem;
  color: var(--c-label-text);
}

form .currency .parent,
form .amount .parent,
form .payment .parent {
  display: flex;
  align-items: center;
  height: 2.6875rem;
  flex-wrap: nowrap;
  height: 2.6875rem;
  font-size: .875rem;
  color: #627497;

}

form .currency .parent>div,
form .amount .parent>div,
form .payment .parent>div {
  flex: 1;
  min-width: 0;
  height: 100%;
}

.wrapper-select {
  height: 2.6875rem;
  position: relative;
}

.wrapper-select::after {
  content: '';
  width: 0.55rem;
  height: 0.55rem;
  border: .15rem solid transparent;
  border-color: transparent transparent var(--c-li-text) var(--c-li-text);
  position: absolute;
  right: .9375rem;
  top: 50%;
  transform: translate(0, -80%)rotate(-45deg);
  -webkit-transform: translate(0, -80%)rotate(-45deg);
  -moz-transform: translate(0, -80%)rotate(-45deg);
  -ms-transform: translate(0, -80%)rotate(-45deg);
  -o-transform: translate(0, -80%)rotate(-45deg);
  pointer-events: none;
}

select {
  background-color: var(--bg-c-li-input);
  width: 100%;
  height: 100%;
  padding-left: 1.875rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: capitalize;
  color: inherit;
  font-size: inherit;

}

select:focus {
  color: var(--bg-c-blue);
  background-color: var(--bg-c-white);
  border: 1px solid var(--bg-c-blue);
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}


select option select::-ms-expand {
  display: none;
}


.input-num {
  height: 100%;
  background-color: var(--bg-c-li-input);
}


input {
  width: 100%;
  display: block;
  background-color: var(--bg-c-li-input);
  height: 100%;
  outline: none;
  border: none;
  padding-left: 1.875rem;
  color: inherit;
  font-size: inherit;
}

input::placeholder {
  color: var(--c-li-text);
}

input:focus {
  color: var(--bg-c-blue);
  background-color: var(--bg-c-white);
  border: 1px solid var(--bg-c-blue);
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
}

form .notify {
  width: 100%;
  height: 2.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--c-li-text);
}

form .notify>span {
  min-width: 0;
  color: inherit;
  font-size: .875rem;
  display: block;
  font-weight: inherit;
}

form .notify :last-child {
  color: #000;
  font-size: .8rem;
  font-weight: 700;
}

form .submit {
  margin-top: 1.25rem;
  width: 100%;
  height: 2.6875rem;
  background-color: #10D876;
  color: var(--bg-c-white);
  border-radius: .3125rem;
  -webkit-border-radius: .3125rem;
  -moz-border-radius: .3125rem;
  -ms-border-radius: .3125rem;
  -o-border-radius: .3125rem;
  overflow: hidden;
}

form .submit input[type="submit"] {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1rem;
}

p.foot {
  color: var(--c-li-text);
  line-height: 1.6;
  width: 100%;
  font-size: .875rem;
  text-transform: capitalize;
  margin-top: 3.75rem;
}

.col-info .header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.col-info .header-profile .buyer,
.col-info .header-profile .seller {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .625rem;
}

.col-info .header-profile .seller {
  flex-flow: row-reverse wrap;
}

.col-info .header-profile .content {

  font-size: .8rem;
  color: #000;
}

.col-info .header-profile .seller .content {
  text-align: right;
}


.col-info .header-profile img {
  width: 2.5rem;
}


.col-info .header-profile h3,
.col-info .header-profile span {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  margin-bottom: .375rem;
}

.col-info .header-profile a {
  display: block;
  color: var(--bg-c-blue);
  margin-top: .5rem;
}

@media (max-width:370px) {
  .col-info .header-profile a {
    display: none;
  }
}

.body-info {
  width: 100%;
  font-size: .875rem;
  color: var(--c-li-text);
}

.body-info table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.body-info table tr {
  background-color: var(--bg-c-li-input);
  height: 3rem;
}

.body-info table tr td {
  padding-left: 1rem;
  color: inherit;
}

.body-info table tr td.active {
  font-weight: 700;
  color: var(--bg-c-blue);
}

.body-info table tr td.red {
  color: var(--c-span-red);
}